<div class="col-md-8 blog-main">
  <h1>Dev Thoughts</h1>
  <div class="text-muted desc">Something something</div>
  <%= link_to "Write a New Blog", new_blog_path if logged_in?(:site_admin) %>

  <h2 class="mb-1 font-robo mt-5">
    <%= @blog.title %>
  </h2>

  <small class="blog-post-meta">published <%= time_ago_in_words(@blog.created_at) %> ago</small>

  <nav aria-label="breadcrumb" class="breadcrumb">

      <span class="breadcrumb-item"><%= link_to "Blogs", blogs_path %></span>
      <span class="breadcrumb-item"><%= link_to @blog.topic.title, topic_path(@blog.topic) %></span>
      <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %> </span>

    <% if logged_in?(:site_admin)%>
      <span class="ml-auto" >
        <%= link_to fa_icon('pencil'), edit_blog_path(@blog)%>
        <%= link_to fa_icon('trash'), @blog, method: :delete, 
                                    data: { confirm: 'Are you sure?' }, class: "ml-1"
        %>  
      </span>
    <% end %>
  </nav>

  <div class="mb-1 md-body"><%= markdown @blog.body %></div>
  <hr>
  <div id="blog-id" data-blog-id="<%= @blog.id %>" ></div>
  <div id="user-id" data-user-id="<%= current_user.id %>"></div>
  <%= render 'comments/comment_form', comment: Comment.new, blog: @blog %>
  <div id="comments">
	 <%= render @blog.comments %>
  </div>
  
</div>




