<div class="col-md-8 blog-main">
  <h2 class="mb-1">
    <%= @blog.title %>
  </h2>
  <p><%= @blog.topic.title %></p>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)  %> 
  <p class="mb-5"><%= @blog.body %></p>
  <hr>
  <div id="blog-id" data-blog-id="<%= @blog.id %>" ></div>
  <div id="user-id" data-user-id="<%= current_user.id %>"></div>
  <%= render 'comments/comment_form', comment: Comment.new, blog: @blog %>
  <div id="comments">
	 <%= render @blog.comments %>
  </div>
  
</div>




