  <% unless current_user.is_a? GuestUser %>
  	<%= form_with(model: comment, local: true, url: '#') do |f| %>
  		<div class="form-group">
  			<%= f.label "Comment", class: 'text-muted' %>
  			<%= f.text_area :context, class: 'form-control' %>
  		</div> 
  		<%= f.hidden_field :blog_id, value: blog.id %>
  		<%= f.submit 'Post Comment', class: 'btn btn-primary' %>
  	<% end %>
  <% end %>