<div class="container">
	<div class="row">
		<div class="col-md-7">
			<%= image_tag portfolio_item_img(@portfolio_item, 'main')  %>
		</div>
		<div class="col-md-5">
			<h1><%= @portfolio_item.title %></h1>
			<hr>
			<h4><%= @portfolio_item.subtitle %></h4>
			<p><%= @portfolio_item.body %></p>

			<h2>Technologies used: </h2>
			 
			<% @portfolio_item.technologies.each do |t| %>
			  <div><%= t.name %></div>
			<% end %>
			<hr>
			<% if logged_in?(:site_admin) %>
				<div class="btn-group btn-group-toggle w-50" data-toggle="buttons">
	  				<label class="btn btn-info w-50">
						<%= link_to "Edit", edit_portfolio_path(@portfolio_item), class: 'text-white' %> 
					</label>
					<label class="btn btn-danger w-50 text-white">
						<%= link_to "Delete", 
											@portfolio_item, 
											class: 'text-white',
											method: :delete, data: { confirm: 'Are you sure?' } 
											%>
					</label>
				</div>
			<% end %>
		</div>
	</div>
</div>



 