<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
	<div class="col-md-6 px-0">
	  <h1 class="display-4 font-italic"><%= @first_featured_blog.title %></h1>
	  <p class="lead my-3"><%= @second_featured_blog.body.truncate_words(20) %></p>
	  <p class="lead mb-0">
	  	<%= link_to "Continue reading...", blog_path(@first_featured_blog), class: "text-white font-weight-bold" %>
	  </p>
	</div>
</div>

<div class="row mb-2">
	<div class="col-md-6">
	  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
	    <div class="col p-4 d-flex flex-column position-static">
	      <strong class="d-inline-block mb-2 text-success">Categoy here</strong>
	      <h3 class="mb-0"><%= @second_featured_blog.title %></h3>
	      <div class="mb-1 text-muted">
	      	<small>
	      	  Published <%= time_ago_in_words(@third_featured_blog.created_at) %> ago
	        </small>
	      </div>
	      <p class="card-text mb-auto"><%= @second_featured_blog.body.truncate_words(15) %></p>
	      <%= link_to "Continue reading", blog_path(@second_featured_blog), class: "stretched-link" %>
	    </div>
	    <div class="col-auto d-none d-lg-block">
	      <img src="https://via.placeholder.com/200x250" />
	    </div>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
	    <div class="col p-4 d-flex flex-column position-static">
	      <strong class="d-inline-block mb-2 text-primary">Categoy here</strong>
	      <h3 class="mb-0"><%= @third_featured_blog.title %></h3>
	      <div class="mb-1 text-muted">
	      	<small>
	      	  Published <%= time_ago_in_words(@third_featured_blog.created_at) %> ago
	        </small>
	      </div>
	      <p class="card-text mb-auto"><%= @third_featured_blog.body.truncate_words(15) %></p>
	      <%= link_to "Continue reading", blog_path(@third_featured_blog), class: "stretched-link" %>
	    </div>
	    <div class="col-auto d-none d-lg-block">
	      <img src="https://via.placeholder.com/200x250" />
	    </div>
	  </div>
	</div>
</div>