<aside class="col-md-4 blog-sidebar">
  <div class="p-4">
    <h4 class="font-italic">Topics</h4>
    <ol class="list-unstyled mb-0">
      <% @sidebar_topics.each do |topic| %>
        <li class="mb-2"><%= link_to topic.title, topic_path(topic) %></li>
      <% end %>
    </ol>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Social Media</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/npdannug"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</aside>